<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    
    <title>Matricula</title>
</head>

<body>
    <h2>Matricula</h2>
    <h3>Curso: Sistemas de Informação</h3>
    <h3>Disciplina: Tecnologias Web</h3>
    <h3>Semestre: 2 2018</h3>
    <h3>Turma SI 2B Noite</h3>

    <form name="matricula" method="POST">
        <h4>TABELAS DE ALUNOS</h4>
        <table>
            <td>
                <tr><input type="text" name="nome" value="Nome do aluno">Nome aluno</tr>
                <tr><input type="text" name="ra" value="RA">RA</tr>
                <tr><input type="radio" name="aprovado" value="Aprovado"> Aprovado<br></tr>
                <tr><input type="radio" name="cancelado" value="Cancelado"> Cancelado<br></tr>
                <button type="submit">Enviar</button>
            </td>
        </table>
    </form>
</body>
</html>
